/* 1rem=1em=16px */

/* Width: 2498px */
@media (max-width: 156.125em) {
    .catchphrase {
        margin-block-start: 25rem;
    }

}

/* Width: 1440px */
@media (max-width: 90em) {
    .logo-nav,
    .cta {
        gap: 5rem;
    }

    .nav-list {
        gap: 3rem;
    }

    .dd_features {
        left: 8.5%;
    }

    .write-ups {
        gap: 6rem;
    }

    .catchphrase {
        font-size: 8.6rem;
        margin-block-start: 12rem;
    }

    .catchphrase2 {
        font-size: 2rem;
    }

    .learn-more {
        font-size: 3rem;
        padding: 1.5rem 3rem;
    }
    
}

/* Width: 375px */
/* @media (max-width: 23.4375em) {
    .header {
        padding: 1rem;
    }

    .navigation,
    .cta {
        display: none;
    }

    .container {
        max-width: 37.5rem;
        padding: 0;
    }

    .menu {
        display: block;
    }

    .hero-page {
        display: grid;
        grid-template-columns: 1fr;
    }

    .hero-img {
        grid-row: 1;
        width: 82%;
    }

    .catchphrase {
        font-size: 4.4rem;
    }

    .line-break {
        display: none;
    }
} */
