/* 1rem=1em=16px */

/* Width: 2498px */
@media (max-width: 156.125em) {
    .sponsors {
        /* margin-block-start: 38rem; */
    }

}

/* Width: 1440px */
@media (max-width: 90em) {
    .dd_features {
        left: 8%;
    }

    .catchphrase {
        font-size: 7.4rem;
    }

    .catchphrase2 {
        font-size: 1.8rem;
    }

    .learn-more {
        padding: 1.5rem 3rem;
    }
}

/* Width: 1389px */
@media (max-width: 86.8125em) {
    .sponsors {
        margin-block-start: 16rem;
    }
}

/* Width: 1352px */
@media (max-width: 84.5em) {
    .sponsors {
        margin-block-start: 10rem;
    }
}

/* Width: 1261px */
@media (max-width: 78.8125em) {
    .logo_nav,
    .cta {
        gap: 3rem;
    }
    
    .nav-list {
            gap: 1.5rem;
        }

    .hero-page {
        margin-inline: 4rem;
    }

    .write-ups {
        gap: 3rem;
    }

    .catchphrase {
        font-size: 6.2rem;
    }

    .catchphrase2 {
        font-size: 1.5rem;
    }

    .learn-more {
        font-size: 1.8rem;
        padding-block: 1rem;
        padding-inline: 2rem;
    }

    .sponsors {
        margin-block-start: 10rem;
    }
}

/* Width: 1160px */
@media (max-width: 72.5em) {
    .dd_menu {
        font-size: 1.5rem;
        margin-block-start: 1.5rem;
        padding-block: 1rem;
        padding-inline: 1rem;
    }

    .dd_features {
        left: 11.3%;
    }

    .sponsors {
        margin-block-start: 6rem;
    }
}

/* Width: 1104px */
@media (max-width: 69em) {
    .header {
        padding-block: 2rem;
        padding-inline: 2rem;
    }

    .logo_nav,
    .cta {
        gap: 2rem;
    }

    .cta, .nav-list {
        font-size: 1.3rem;
    }

    .nav-list {
        gap: 1rem;
    }

    .dd_menu {
        gap: 1rem;
    }

    .dd_features {
        left: 7%;
    }

    .dd_company {
        left: 19%;
    }

    .hero-page {
        margin-inline: 1rem;
    }

    .write-ups {
        gap: 2rem;
    }

    .sponsors {
        margin-block-start: 6rem;
    }
}

/* Width: 1037px */
@media (max-width: 64.8125em) {
    .dd_features {
        left: 8%;
    }

    .dd_company {
        left: 19.5%;
    }

    .catchphrase {
        font-size: 5.2rem;
    }

    .catchphrase2 {
        font-size: 1.3rem;
    }

    .learn-more {
        font-size: 1.6rem;
    }

    .sponsors {
        margin-block-start: 4rem;
    }
}

/* Width: 969px */
@media (max-width: 60.5625em) {
    .catchphrase {
        font-size: 4.5rem;
    }

    .catchphrase2 {
        font-size: 1.1rem;
    }

    .learn-more {
        font-size: 1.4rem;
    }

    .databiz, .audiophile, .meet, .maker {
        width: 20%;
    }

    .sponsors{
        margin-block-start: 8rem;
    }
}


/* Width: 813px */
@media (max-width: 50.8125em) {
    .catchphrase {
        font-size: 3.6rem;
    }

    .sponsors{
        margin-block-start: 6rem;
    }
}

/* Width: 768px */
@media (max-width: 48em) {
    .container {
        padding: 2rem;
    }


    .cta,
    .hero-img,
    .nav-list,
    .line-break,
    .catchphrase2 br {
        display: none;
    }
    
    .header,
    .hamburger,
    .menu,
    .mobile-hero-img,
    .close-menu,
    .ctaa {
        display: block;
    }

    .hamburger,
    .close-icon {
        cursor: pointer;
    }

    .mobile-nav {
        flex-direction: column;
        position: absolute;
        top: 0;
        padding-block-start: 2.7rem;
        right: -60%;
        display: none;
        flex-wrap: wrap;
        align-content: flex-start;
        background-color: hsl(0, 0%, 98%);
        inline-size: 60%;
        block-size: 260vh;
        transition: all .55s ease;
    }

    .mobile-nav::before {
        content: url("../assets/design/desktop-preview.jpg");
        content: " ";
        background-color: red;
        inline-size: 100%;
        position: relative;
        /* left: 0; */
    }
    
    .close-menu {
        display: flex;
        justify-content: flex-end;
        padding-block-end: 4rem;
        padding-inline-end: 2rem;
    }

    .open {
        right: 0;
    }

    /* .close {
        right: -100rem;
    } */
    
    .left {
        justify-content: flex-start;
        padding-inline-start: 2rem;
        padding-block-end: 4rem;
    }

    .center {
        justify-content: center;
    }

    .ctaa {
        display: flex;
        flex-direction: column;
        gap: 3rem;
    }
    
    .mobile_cta {
        display: flex;
    }
    
    .mobile-nav-list {
        flex-direction: column;
        list-style: none;
        gap: 3rem;
        align-items: flex-start;
    }

    .dd_menu {
        left: auto;
        gap: 2rem;
        box-shadow: none;
        border-radius: 0;
        background-color: hsl(0, 0%, 98%);
    }
    
    .navigation,
    .nav-list,
    .mobile_cta {
        flex-direction: column;
    }

    .hero-page {
        grid-template-columns: 1fr;
    }

    .mobile-hero-img {
        width: 100%;
    }
    
    .hero-write-ups {
        align-items: center;
    }

    .catchphrase {
        font-size: 7.4rem;
        text-align: center;
    }

    .catchphrase2 {
        font-size: 3.6rem;
        text-align: center;
    }

    .learn-more {
        font-size: 4.4rem;
        text-align: center;
    }

    .sponsors {
        gap: 9rem;
        margin-block-start: 4rem;
    }
}

/* Width: 726px */
@media (max-width: 45.375em) {
    .catchphrase {
        font-size: 6.2rem;
    }

    .catchphrase2 {
        font-size: 3.4rem;
    }

    .learn-more {
        font-size: 3.6rem;
    }

    .sponsors {
        gap: 8rem;
    }
}

/* Width: 689px */
@media (max-width: 43.0625em) {
    .catchphrase2 {
        font-size: 3.2rem;
    }

    .sponsors {
        gap: 7rem;
    }
}

/* Width: 653px */
@media (max-width: 40.8125em) {
    .catchphrase2 {
        font-size: 3rem;
    }

    .sponsors {
        gap: 6rem;
    }
}

/* Width: 616px */
@media (max-width: 38.5em) {
    .catchphrase {
        font-size: 5.2rem;
    }

    .catchphrase2 {
        font-size: 2.8rem;
    }

    .learn-more {
        font-size: 3.0rem;
    }

    .sponsors {
        gap: 5rem;
    }
}

/* Width: 580px */
@media (max-width: 36.25em) {
    .catchphrase2 {
        font-size: 2.6rem;
    }

    .learn-more {
        font-size: 3.0rem;
    }
}

/* Width: 544px */
@media (max-width: 34em) {
    .catchphrase {
        font-size: 4.4;
    }

    .catchphrase2 {
        font-size: 2.5rem;
    }

    .learn-more {
        font-size: 2.5rem;
    }

    .sponsors {
        gap: 4rem;
    }
}

/* Width: 529px */
@media (max-width: 33.0625em) {
    .catchphrase {
        font-size: 4rem;
    }

    .catchphrase2 {
        font-size: 2rem;
    }

    .sponsors {
        gap: 2rem;
    }
}


/* Width: 436px */
@media (max-width: 27.25em) {
    .catchphrase {
        font-size: 3.6rem;
    }

    .catchphrase2 {
        font-size: 1.8rem;
    }

    .learn-more {
        font-size: 2rem;
    }
}

/* Width: 400px */
@media (max-width: 25em) {
    .catchphrase {
        font-size: 3rem;
    }

    .catchphrase2 {
        font-size: 1.4rem;
    }

    .learn-more {
        font-size: 1.8rem;
    }
}

/* Width: 337px */
@media (max-width: 21.0625em) {
    .catchphrase {
        font-size: 2.4rem;
    }

    .catchphrase2 {
        font-size: 1.2rem;
    }

    .learn-more {
        font-size: 1.2rem;
    }

    .sponsors {
        gap: 1.8rem;
        margin-block-start: 2rem;
    }
}

/* Width: 285px */
@media (max-width: 17.8125em) {
    .catchphrase {
        font-size: 2rem;
    }

    .catchphrase2 {
        font-size: 1rem;
    }

    .learn-more {
        font-size: 1rem;
    }

    .sponsors {
        margin-block-start: 1rem;
    }
}