/* 1rem=1em=16px */

/* Width: 2560px */
@media (max-width: 160em) {
    .container {
        width: 100%;
        max-width: 256rem;
    }

    .header {
        padding: 4rem;
    }

    .logo_nav {
        gap: 8rem;
    }

    .nav-list {
        gap: 4rem;
    }

    .cta {
        gap: 4rem;
    }

    .dd_features {
        left: 6%;
    }

    /* .write-ups {
        font-size: 2rem
    } */

    /* .catchphrase {
        font-size: 14rem;
    }

    .catchphrase2 {
        font-size: 5rem;
    }
    */
}

/* Width: 1440px */
@media (max-width: 90em) {

}

/* Width: 375px */
@media (max-width: 23.4375em) {
    .header {
        padding: 1rem;
    }

    .navigation,
    .cta {
        display: none;
    }

    .container {
        max-width: 37.5rem;
        padding: 0;
    }

    .menu {
        display: block;
    }

    .hero-page {
        display: grid;
        grid-template-columns: 1fr;
    }

    .hero-img {
        grid-row: 1;
        width: 82%;
    }

    .catchphrase {
        font-size: 4.4rem;
    }

    .line-break {
        display: none;
    }
}
